@keyframes showUp{
  0%{
    top: 70%;
    opacity: 0;
  }
  100%{
    top: 50%;
    opacity: 1;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    width: 35px;
    height: 0;
  }
}
@keyframes FadeOutOpacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes changeHeroBg {
  0%{
    transform: scale(1);
  }
  100%{
    transform:  scale(1.2);
  }
}
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}